.DS_STORE
/node_modules/

/.cache
.env

# Sentry Config File
.sentryclirc

# Cursor
.cursor/

# React Router
/.react-router/
/build/

# Vercel
/.vercel/

# FS img cache
data
test-results/
playwright-report/
